.imgDiv{
	position: relative;
    display: inline-block;
}
.imgDiv img{
	width: 1.77rem;
    height: 1.1rem;
}
.img_input {
    width: 1.77rem;
    height: 1.1rem;
    position: absolute;
    top: 0;
    z-index:1;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;  /*css属性——opcity不透明度，取值0-1*/
    filter: alpha(opacity=0); /*兼容IE8及以下--filter属性是IE特有的，它还有很多其它滤镜效果，而filter: alpha(opacity=0); 兼容IE8及以下的IE浏览器(如果你的电脑IE是8以下的版本，使用某些效果是可能会有一个允许ActiveX的提示,注意点一下就ok啦)*/
    cursor: pointer;
}
.videoDiv{
	position: relative;
}
.videoDiv video{
    width: 4rem;
    margin-left: 1.9rem;
}
.videoDiv span{
    line-height: 0.6rem;
    display: inline-block;
}
.video_input{
	width: 7.7rem;
    height: 0.6rem;
    position: absolute;
    top: 0;
    left: 0.1rem;
    z-index: 1;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.videoDiv div{
	border: 1px dashed #d9d9d9;
    text-align: center;
    height: 0.6rem;
    color: grey;
}
.previewWrap{
	position: absolute;
    z-index: 999;
    display: none;
    width: 375px;
    height: 667px;
    top: 3px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transform: none;
    transform: none;
    border-radius: 7px;
    background-color: #f7f7f7;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,.1);
    box-shadow: 0 0 15px rgba(0,0,0,.1);
}
.previewWrap.active{
	display: block;
}
