.imgDiv{
	position: relative;
    height: 1.8rem;
    display: inline-block;
}
.imgDiv img{
	width: 3rem;
    height: 1.8rem;
}
.img_input {
    width: 3rem;
	height: 1.8rem;
    position: absolute;
    top: 0;
    z-index:1;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;  /*css属性——opcity不透明度，取值0-1*/
    filter: alpha(opacity=0); /*兼容IE8及以下--filter属性是IE特有的，它还有很多其它滤镜效果，而filter: alpha(opacity=0); 兼容IE8及以下的IE浏览器(如果你的电脑IE是8以下的版本，使用某些效果是可能会有一个允许ActiveX的提示,注意点一下就ok啦)*/
    cursor: pointer;
}
.videoDiv{
	position: relative;
}
.videoDiv video{
    width: 7rem;
}
.video_input{
	width: 7rem;
    height: 1.3rem;
    position: absolute;
    top: 0;
    left: 0.1rem;
    z-index: 1;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
}
.videoDiv div{
	border: 1px dashed #d9d9d9;
    text-align: center;
    color: gainsboro;
}
